<div class="container-wrapper">
  <mat-toolbar color="primary">
    <mat-icon>local_fire_department</mat-icon>
    <span class="title">CRAFTNOTE</span>
    <div class="form-actions">
      <div
        *ngIf="(userEmail$ | async) as email"
        class="user-email"
      >
        {{ email }}
      </div>
      <button mat-raised-button
        class="button-logout"
        color="accent"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </mat-toolbar>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
