<mat-card>
  <mat-card-title>
    Create your account
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Email *</mat-label>
        <input
          type="text"
          matInput
          placeholder="marc@craftnote.de"
          formControlName="email"
        >
        <mat-error *ngIf="form.get('email')?.invalid" class="error-email">
          {{ getEmailError(form.controls.email) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password *</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        >
        <mat-error *ngIf="form.get('password')?.invalid" class="error-password">
          {{ getPasswordError(form.controls.password) }}
        </mat-error>
      </mat-form-field>

      <div
        *ngIf="(registerError$ | async) as error"
        class="register-error"
      >
        <mat-error>{{ error }}</mat-error>
      </div>

      <div class="form-actions">
        <button
          class="button-link-login"
          mat-stroked-button
          [routerLink]="['/login']"
        >
          Already a member?
        </button>
        <button
          class="button-register"
          type="submit"
          mat-raised-button
          color="primary"
          (click)="submit()"
        >
          Register
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
